@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  --color-picker: #b9c0ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(0, 0, 0);
    --background-end-rgb: rgb(0, 0, 0);
  }
} */

body {
  color: var(--foreground-rgb);
  /* background-image: url('../public/dot.svg'); */
  /* background: linear-grad  ient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb); */
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
  .button-blue {
    border-radius: .25rem;
    background-color: rgb(165, 145, 255);
    color: white;
    padding: .25rem;
    margin: .25rem;
    font-weight: bold;
    box-shadow: 0 0 2px 0 gray;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
