header {
    text-align: center;
    margin-top: 10em;
    margin-bottom: 1em;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5em;
}
.subtitle {
    margin: 0;
    font-size: 1rem;
}

.startButtons {
    text-decoration: none; 
}
